$white:       #ffffff;
$greyLight:   #E7E7E7;
$greyDark:    #B4B4B4;
$blueLight:   #586068;
$blueMiddle:  #515860;
$blueDark:    #3D4247;
$blackLight:  #353942;
$blackMiddle: #2D3138;
$blackDark:   #23272C;

$baseColor:    #F55E82;
$errorColor:    $baseColor;
$successColor:  #28C378;

$statusPending:   #57C5D2;
$statusRequested: #6F81EE;
$statusBlocked:   #DBCF69;

$fontFamilyBase:  Open Sans, Verdana, sans-serif;
$fontFamilyTitle: "Fjalla One", Impact, sans-serif;

$fontSizeBase:      14px;
$fontSizeEnormous:  36px;
$fontSizeH1:        22px;
$fontSizeH2:        18px;

$screenWidth: 960px;
$formDeviseWidth:  400px;

$btnHeight: 34px;
$inputHeight: 34px;