<h1>Add new item for "<%= @collection.title %>" collection</h1>

<%= form_for @item, url: collection_items_url(@collection.id) do |f| %>
  <%= f.text_field :title %>
  <%= f.submit :create %>
<% end %>
