@import "../mixins/variables";

body {
  background: $blueDark;
  color: $white;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

h1 {
  color: $greyDark;
  font-family: $fontFamilyTitle;
  font-size: $fontSizeH1;
  font-weight: normal;
  margin: 0;

  &.paddingBottom {
    margin-bottom: 30px;
  }
}

h2 {
  color: $greyLight;
  font-family: $fontFamilyTitle;
  font-size: $fontSizeH2;
  font-weight: normal;
  margin: 0;
}