@import "../mixins/variables";

body {
  background: $blueDark;
  color: $white;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

h1 {
  font-family: $fontFamilyTitle;
}