@import "../mixins/variables";

@mixin btn_base() {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
  height: $btnHeight;
  line-height: $btnHeight;
  margin: 0;
  padding: 0 20px;

  &:hover {
    color: $white;
  }
}

.BtnBase {
  @include btn_base;
  background: $blackDark;
  color: $greyDark;
}

.BtnColor {
  @include btn_base;
  background: $baseColor;
  color: $white;
}